@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after {
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-primary: #fda403;
    --color-secondary: #e8751a;
    --color-foreground: #c51350;
    --color-background: #8a1253;
    --animation-duration: .2s;
    font-size: 1.5rem;
}

body {
    margin: 0;
}

.container {
    min-height: 90vh;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    min-height: 10vh;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1rem;
}

#score {
    font-size: 1.25rem;
}

#score::before {
    content: "Tokens: ";
}

#slot-machine {
    display: flex;
    overflow: hidden;
}

.slot {
    font-size: 4rem;
    text-align: center;
    margin: .625rem;
}

#lever {
    font-size: 1rem;
    padding: .625rem;
    margin-top: 1.25rem;
}

@keyframes drop {
    from { top: -100%; }
    to { top: 100%; }
}

@keyframes drop-final {
    from { top: -100%; }
    to { top: 0; }
}

.animate {
    position: relative;
    animation: drop var(--animation-duration) infinite;
}

.animate-final {
    position: relative;
    animation: drop-final var(--animation-duration);
}

#game-over {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(8px);
    user-select: none;
}

#game-over h1 {
    font-size: 6rem;
}

a {
    color: inherit;
    text-decoration: underline;
    transition: .2s;
}

a:hover {
    color: var(--color-foreground);
}

/* Colors */

body {
    background: linear-gradient(to right, var(--color-background), var(--color-secondary));
}

h1 {
    background: linear-gradient(to bottom right, var(--color-primary), var(--color-secondary));
    background-clip: text;
    color: transparent;
}

#score {
    background-color: rgba(0, 0, 0, .7);
    border-radius: .5rem;
    color: var(--color-foreground);
    color: rgba(255, 255, 255, .9);
    padding: .5rem 1rem;
}

#slot-machine {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 1rem;
    padding-bottom: .4rem;
    margin-top: 1rem;
}

#lever {
    background: linear-gradient(to right, var(--color-background), var(--color-foreground));
    border: var(--color-background) solid 1px;
    padding: .625rem 1rem;
    border-radius: .5rem;
    transition: .3s;
    color: white;
}

#lever:hover {
    padding: .625rem 1.75rem;
    border-radius: .75rem;
}

#lever:disabled, #lever:disabled:hover {
    padding: .625rem 1rem;
    border-radius: .5rem;
    background: var(--color-background);
    color: rgba(255, 255, 255, .5);
}

footer {
    color: white;
}

#game-over h1 {
    color: white;
}